.hlx/*
coverage/*
logs/*
node_modules/*

helix-importer-ui
.DS_Store
*.bak
.idea
localhost.pem
localhost-key.pem
migration-work/navigation-validation/
migration-work/footer-validation/

# DEPT image upload working files
tools/aem-packages/dept/download/
tools/aem-packages/dept/node_modules/
