.columns > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.columns > div > div {
  flex: 1;
}

.columns > div > div h3 {
  color: var(--color-primary);
  font-size: var(--heading-font-size-m);
  font-weight: 500;
  margin-bottom: 4px;
}

.columns > div > div p {
  font-size: var(--body-font-size-s);
  color: var(--text-color);
  margin-bottom: 0;
}

.columns img {
  width: 100%;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 768px) {
  .columns > div {
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
